:root {

    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --error-color: #dc3545;
    --success-color: #28a745;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Times New Roman', serif;
    --base-spacing: 8px;
    --large-spacing: 16px;
    --small-spacing: 4px;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --background-light: #fff;
    --border-radius-large: 20px;
    --border-radius-medium: 10px;
    --border-radius-small: 8px;
    --border-color: #E4E4Eb;
    --font-color-dark: #28293D;
    --font-color-light: #fff;
    --font-color-placeholder: #8F90A6;
    --font-color-secondary: #555770;
    --box-shadow: 0px 8px 16px 0px rgba(85, 87, 112, 0.16), 0px 2px 4px 0px rgba(40, 41, 61, 0.04);
    --accent-color-blue: #6698FA;
    --input-background: #FAFAFC;
    --border-color-secondary: #a3aeaf;
}


body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}


.button {
    background-color: var(--primary-color);
    color: white;
    padding: var(--small-spacing) var(--large-spacing);
    font-family: var(--font-primary);
}

.error-message {
    color: var(--error-color);
    font-size: var(--font-size-small);
}

.success-message {
    color: var(--success-color);
    font-size: var(--font-size-medium);
}
